.container{
    flex: 1;
    height: 100vh;
    background-color: #ffffff;
}

.logo{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo>img{
    width: 160px;
    height: 78px;
}

.sidebar-options{
    height: 570px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
}

.dashboard{
    padding: 7px;
    margin:5px;
    border-radius: 5px;
    display: flex;
    justify-self: flex-start;
    align-items: flex-start;
    color: #0D62FF;
}

.dashboard>span{
    margin-left: 10px;
}

.dashboard:hover{
    background-color: #0D62FF;
    color: white;
    cursor: pointer;
}

.trainings{
    padding: 7px;
    margin:5px;
    border-radius: 5px;
    display: flex;
    justify-self: flex-start;
    align-items: flex-start;
    color: #0D62FF;
}

.trainings>span{
    margin-left: 10px;
}

.trainings:hover{
    background-color: #0D62FF;
    color: white;
    cursor: pointer;
}

.analytics{
    padding: 7px;
    margin:5px;
    border-radius: 5px;
    display: flex;
    justify-self: flex-start;
    align-items: flex-start;
    color: #0D62FF;
}

.analytics>span{
    margin-left: 10px;
}

.analytics:hover{
    background-color: #0D62FF;
    color: white;
    cursor: pointer;
}

.users{
    padding: 7px;
    margin:5px;
    border-radius: 5px;
    display: flex;
    justify-self: flex-start;
    align-items: flex-start;
    color: #0D62FF;
}

.users>span{
    margin-left: 10px;
}

.users:hover{
    background-color: #0D62FF;
    color: white;
    cursor: pointer;
}

.myaccount{
    padding: 7px;
    margin:5px;
    border-radius: 5px;
    display: flex;
    justify-self: flex-start;
    align-items: flex-start;
    color: #0D62FF;
}

.myaccount>span{
    margin-left: 10px;
}

.myaccount:hover{
    background-color: #0D62FF;
    color: white;
    cursor: pointer;
}

.support{
    padding: 7px;
    margin:5px;
    border-radius: 5px;
    display: flex;
    justify-self: flex-start;
    align-items: flex-start;
    color: #0D62FF;
}

.support>span{
    margin-left: 10px;
}

.support:hover{
    background-color: #0D62FF;
    color: white;
    cursor: pointer;
}
