.container{
    flex: 1;
    height: 100vh;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    left: 0;
    font-family: poppins;
}

.logo{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo>img{
    width: 175px;
    height: 55px;
}

.sidebar-options{
    padding: 15px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    border-top: 1px solid gray;
    /* border-right: 1px solid gray; */
}

.sidebar-option{
    font-size: 14px;
    padding: 7px;
    margin:5px;
    border-radius: 5px;
    display: flex;
    justify-self: flex-start;
    align-items: flex-start;
    color: #0D62FF;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.sidebar-option>*{
    z-index: 2;
    transition: color 400ms ease-in-out;
}

.sidebar-option:hover>*{
    color: white;
}

.sidebar-option:hover{
    background: transparent;
}

.sidebar-option>span{
    margin-left: 10px;
    
}

.sidebar-option::before{
    content: '';
    height: 100%;
    width: 0%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #0D62FF;
    color: white;
    cursor: pointer;
    transition: width 500ms ease-in-out;
    z-index: 1;
}

.sidebar-option:hover::before{
    width: 100%;
}


@media all and (width<=1100px){
    .logo{
        display: none;
    }
    .container{
        flex: 1;
        /* width: fit-content; */
        /* flex: none; */
        /* position: fixed; */
        /* left: 0; */
        /* bottom: 0; */
        /* transform: translate(-50%, 0); */
        /* right: 0; */
        /* top: 0; */
        /* z-index: 5; */
        /* height: fit-content; */
    }
    /* .sidebar-options{
        display: flex;
        justify-content: space-around;
        align-items: center;
    } */

    .sidebar-option>span{
        display: none;
    }

    .sidebar-options{
        padding: 0;
    }
}