.card{
    height: 100%;
    width: 24%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #ffffff;
}

.fade-in {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

.card>h5{
    margin: 1px;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    text-transform:capitalize;
}

.card-child{
    margin: 1px;
    width: 29%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.card-child-content{
    width: 100%;
}

.card-child-content>h3{
    font-weight:900;
    font-size: 20px;
    margin-bottom: 6px;
}

.card-child-content>div{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-child-content>div>p{
    font-size: 14px;
}

.card-child-content>div>p:nth-child(1){
    background: #e6f4ed;
    padding: 2px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}

.card-child-content>div>p:nth-child(1)>svg{
    border-radius: 4px;
    padding: 2px;
}

.card-child-content>div>p:nth-child(1)>span{
    display: inline-block;
}

.card-child-chart>div{
    margin: -5px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-child-chart>div>span{
    display: inline-block;
    font-weight: 300;
    font-size: 8px;
    color: black;
    margin: 0px 4px;
}

@media all and (width<=1100px){
    .card-child-content>div{
        width: 100%;
    }
}

@media all  and (width<=972px) {
    .card{
        width: 90%;
    }

    .card-child-content>div{
        width: 55%;
    }
}

@media all  and (width<=800px) {
    .card-child-content>div{
        width: 80%;
    }
}

@media all  and (width<=670px) {
    .card{
        width: 100%;
    }
    .card-child-content>div{
        width: 90%;
    }
}

@media all  and (width<=550px) {
    
}